body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

a {
    color: teal;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6fe;;
}
h1 {
font-size: 5.625rem;
    width:15%;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
     
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
    margin: 50px auto;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
h4 {
    color: #66BFBF; 
}
.rule{
    
    border-style: dotted none none none ;
    border-width: 5px;
    border-color:  #DCDCDC;
    width: 5%;  
}
p {
    line-height: 2;
    width: 100%;
   
}

.ctimer1{
    padding-left: 3%;
    display: inline-block;
    width:160px;
}
.time {
    color: #005;
    margin-bottom: 0;
}

.greeting {
    color: #555;
}

.ctimer2{
    padding-left: 3%;
    display: none;
}

.tcontainer{
    padding-top: auto;
}
.Top-container{
    width: 100%;
    background: linear-gradient(to bottom, rgb(180,255,255) 0%, rgb(200,255,255) 100%);
    position: relative;  
    
   }
.name {
    width: 100%;
    margin: auto;
    text-align: center;
}

.my {
text-decoration: underline;
}
.Top-cloud {
    position: absolute;
    right: 5%;
    top: 40px;
    width: 300px;
    height: auto;
}
.navib {
    background: rgb(180,255,255);
    }

.f-rule{
    padding-top: 15px;
    padding-bottom: 13px;
    margin-top: 0;
    margin-bottom: 0;
    
    }

.middle-2 {
    background: linear-gradient(to bottom, rgb(220,255,255) 0%, rgb(255,255,255) 100%);
    }

    .Bottom-cloud {
    position: absolute;
    width: 300px;
    height: auto;
    left: 5%;
    bottom: 25%;
    }
.mountain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.middle-container{
    margin:auto;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    background: linear-gradient(to bottom, rgb(200,255,255) 0%, rgb(220,255,255) 100%);

   
}
.my_pics {
    margin: 50px auto;
    border-radius: 50%; 
}
.skills {
    width: 100%;
    margin: auto;
    text-align: center;
}
.skill-row {
    width: 60%;
    text-align: left;
    margin: 50px auto;
    
}
.worker-row {
width: 25%;
float: left;
margin-right: 30px;
}

.Event-row {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    width: 100%;
    margin: auto;
    padding: 50px 0 100px;
    text-align: center;

  }
.footer-link {
    color: teal;
}
.copy-right {
    color: mistyrose;
    font-size: 0.75rem;
    padding: 20px 0;
    margin: auto;
    width: 100%;

}
#contact-me{
    text-align: center;
    width:100%;
    margin: auto;
    padding-bottom: 50px;
}
.coach {
    width: 25%;
    margin: 40px auto 60px auto ;

}
.profile {
    text-align: center;
    width: 100%;
    
}
.intro-1 {
    width: 30%;
    margin: auto;
    text-align: center;
}

.hire-me {
    width: 30%;
    margin: auto;
    
    color: #11999E;
    font-weight: bold;
}



@media (max-width: 1010px){
    .touch {
        text-align: left;
        width: 60%;
    }
}




.btn {
   
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) { 

    body {
        color:rgb(0,58,59);
    }
    
    a {
        color: teal;
    }
    a:hover{
        color: #eaf6fe;;
    }
    h1.name,h2.name,h3.name {

        color: rgb(59,135,135);     
    }
    .profile h2{
        color: rgb(74,164,165);
    }
    
    .work h2 {

        color: rgb(74,164,165);
    }
    .skill-row h3 {
        color: rgb(74,216,219);
    }
    #contact-me h2 {
        color: rgb(86,142,141); 
    }
    .rule{
        border-color:  #DCDCDC;
    }

    .devops{
        border-radius: 50%;
    }
    
   
    .hire-me {
        color: rgb(80,215,219);
       
    }
    .intro-1 {
        color: rgb(226,229,226);
    }

    .skill-row p {
        color: rgb(226,229,226);
    }

    #contact-me .coach {
        color: rgb(226,229,226);
    }
    .side-nav .nav-link{
        color: rgb(74,164,165);
    }
    .Top-container{

        background: linear-gradient(to bottom, rgb(0,57,58) 0%, rgb(0,48,48) 100%);
       }
    
    .tcontainer{
        padding-top: auto;
    }
    .navib {
        background: rgb(0,58,59);
        }

    .middle-2 {
        background: linear-gradient(to bottom, rgb(5,41,41) 0%, rgb(20,34,34) 100%);
        }
    
    .middle-container{

        background: linear-gradient(to bottom, rgb(0,48,48) 0%, rgb(5,41,41) 100%);
       
    }
    .footer-link{
        color:rgb(95,221,220)
    }
    .bottom-container {
        background-color: rgb(0,55,55);
    
      }
    .footer-link {
        color: rgb(95,221,220);
    }
    .cpoy-right {
        color: mistyrose;
    
    }
   
    
    .hire-me {

        color: #11999E;
    }
    .ctimer1{
        padding-left: 3%;
        display: inline-block;
        width:160px;
    }
    .time {
        color: #66BFBF;
        margin-bottom: 0;
    }
    
    .greeting {
        color: #508F80;
    }
    
    .ctimer2{
        padding-left: 3%;
        display: none;
        float: right;
    }
    
}